* {
    text-align: center;
    list-style-position: inside;
}

header {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
    color: #333;
    background: #ffffff;
    border-color: rgb(5, 73, 36);
    border-style: solid;
    border-width: 4px;

}

div {
    border: 4px solid rgb(5, 73, 36);
    padding: 10px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Open Sans Condensed', sans-serif;
}

test {
    border: 4px solid rgb(5, 73, 36);
    padding: 20px;
    border-width: 4px;
    margin-bottom: 10px;
    height: 600px;
    width: 400px;
    position: fixed;
    color: #333;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;

}

/*#box {
    background-color: black;
    color: white;
    padding: 20%;
    border-style: solid;
    border-width: 30%;
    border-color: grey;
    float: left;
    margin: 0 auto;
    margin-top: 50px;
    width: 850px;
    font-size: 1.25em;
    }
*/
/* body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #ffffff;
    color: #777777
    text-align: center;
}
*/

image {
    float: left;
}

#left {
    float:left;
}
#right {
    float:right;
}
.clearfix::after {
	content:"";
	display: block;
	clear: both;
    }
    
